<div class ="row">
  <div class ="col-xs-12">
     <div class ="panel panel-default">
        <div class ="panel-heading">
            <h3 class ="panel-title"><%= @user.name %>さんの詳細</h3>
        </div> 
        <div class ="panel-body">
           <% if @user.image? %>
            <%= image_tag @user.image, :size => "60×60" %>
          <% else %>
            <%= image_tag("m_e_others_500.png") %>
          <% end %>
        </div>
         <div>
            <%= render 'relationships/follow_button', user: @user %>
         </div>   
         <% if current_user == @user %>
           <%= link_to "編集する",edit_user_path(@user),class: "btn btn-xs" %>
         <% end %>
         <h4>自己紹介</h4>
          <div class ="well">
              <p><%= @user.introduce %></p>
          </div>
          <%= link_to "DM",user_messages_path(@user) %>
          <div class ="text-center">
             <%= link_to"フォロー",followings_user_path(@user) %><span class = "badge"><%= @count_followings %></span>
             <%= link_to"フォロワー",followers_user_path(@user) %><span class = "badge"><%= @count_followers %></span>
          </div>
          <div>
                <ul class ="nav nav-tabs nav-justified">
                   <li class ="<%="active" if current_page?(user_path(@user))%>"><%= link_to user_path(@user) do%>投稿一覧<span class ="badge"><%= @count_posts %><% end %></span></li>
                   <li class ="<%="active" if current_page?(like_user_path(@user))%>"><%= link_to like_user_path(@user) do%>お気に入りした投稿<span class ="badge"><%= @count_fav_posts %><% end %></span></li>
                </ul>
              <%= render "posts/posts",posts: @posts %>
              
          </div>

    </div>
  </div>
</div>