<ul class ="media-list">
   <% posts.each do |post| %> 
       <li class="media">
           <div class ="media-left">
               <% if post.user.image? %>
                  <%= image_tag(post.user.image.url,:size => "80x80") %>
               <% else %>
                  <%= image_tag("m_e_others_500.png",:size => "80x80")%>
               <% end %>
           </div>
            <div class = "media-body">
               <div class ="name">
                 <%=link_to post.user.name, user_path(post.user) %>
               </div>
               <div>
                   <p><%=link_to post.content, post_path(post) %></p>
               </divqqqq
                  <%= image_tag(post.image) %>
               <div>
                  <%=link_to "comment",post_path(post) %>
            　　 <span class ="text-muted">posted at<%= post.created_at %><%= render "favorites/like",post:post %></span>
               </div>
            </div>
        </li>
   <% end %>
  <%= paginate posts %>
</ul>