<h2 class= "text-center">Edit Post</h2>

 <div class ="row">
    <div class ="col-md-10 col-md-offset-1">
        
        <% if @post.image? %>
           <%= form_for(@post,url: post_img_delete_path(@post), method: :delete) do |f| %>
                 <%= image_tag(@post.image) %>
                 <%= f.submit "Delete image", class: "btn btn-danger btn-xs" %>
           <% end %>
        
           <%= form_for(@post) do |f| %>
              <div class="form-group">
                 <%= f.text_area :content, class: 'form-control', rows: 10 %>
               </div>
               
               <%= f.submit "Edit", class: "btn btn-primary" %>
           <% end %>
          
        <% else %> 
           <%= form_for(@post) do |f| %>
           
            <div class="form-group">
               <%= f.text_area :content, class: 'form-control', rows: 10 %>
            </div>
            <div>
               <%=f.label "Upload image" %>
              <%= f.file_field :image %>
            </div>
               <%= f.submit "Edit", class: "btn btn-primary" %>
         <% end %>
       <% end %>
   </div>
 </div>
        
    
     
    