<% if logged_in? %>
  <div class ="row">
    <div class ="col-md-10 col-md-offset-1">
        <div>
           <%= form_for(@post) do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control", rows:10 %>
          </div>
          <div>
            <%=f.label "Upload image" %>
        　　<%= f.file_field :image %>
          </div>
          <div>
          <%= f.submit "Post", class:'btn btn-primary btn-lg' %>
          </div>
          <% end %>
       </div>
    </div>
  </div>
<% end %>